.example-spacer {
  flex: 1 1 auto;
}

.angular-pattern-container{
  height: 88.1%;
  
  .canvas-container {
    height: 100%;
    position: relative;
  }

  .patten-container {
    background-color: lightgreen;
  
    .pattern-card {
         min-width: 400px;
         border-radius: 5%;
  
        .node {
            font-size: x-large;
            z-index: 9999
        }

        .selected {
          background-color: green;
        }

        .un-selected {
          background-color:blueviolet;
        }
    }
  }

  .canvas-area {
    position: absolute;
    top: 34%;
    left: 40%;
    z-index: 0;
  }

  
}

.footer-container {
  height: 50px;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: flex-end;
  background-color: #009688 !important;
  .footer-copyright {
    padding: 0px 20px;
    text-align: right;
    font-size: medium;
    color: white;

    .link {
      color: white;
    }
  }
}


